@mixin menuItem {
  &__title,
  &__item,
  &__label {
    position: relative;
    z-index: 1;

    &[disabled] {
      pointer-events: none;
      opacity: 0.5;
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      height: 1px;
      width: 0%;
      background-color: #FFF;
      transition: width 0.255s ease-in-out;
      z-index: 2;
    }
    
    &--scrolled:after {
      background-color: #0F0F0F;
    }

    &--active {
      opacity: 0.5;
    }

    &--active:after,
    &:hover:after {
      content: '';
      width: 100%;
    }
  }
}