.animate__ {
  &bloody-slash {
    transform-origin: center left;
    animation: fade-in 0.255s forwards, slash 0.255s forwards, blood 1.275s forwards;
  }

  &gentle-slide-from- {
    &above {
      animation: fade-in 0.510s ease-in-out, gentle-slide-from-above 0.510s ease-in-out;
    }

    &below {
      animation: fade-in 0.510s ease-in-out, gentle-slide-from-below 0.510s ease-in-out;
    }
  }

  &slide-from- {
    &above {
      animation: fade-in 0.510s ease-in-out, slide-from-above 0.510s ease-in-out;
    }

    &below {
      animation: fade-in 0.510s ease-in-out, slide-from-below 0.510s ease-in-out;
    }
  }
}


@keyframes fade-in {
  0% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-middle {
  0% {
    opacity: .1;
  }
  100% {
    opacity: .75;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .1;
  }
}

@keyframes slash {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes blood {
  0% {
    fill: theme('colors.primary.500');
  }
  100% {
    fill: theme('colors.white.500');
  }
}

@keyframes gentle-slide-from-above {
  0% { transform: translateY(-16px) }
  100% { transform: translateY(0) }
}

@keyframes gentle-slide-from-below {
  0% { transform: translateY(0) }
  100% { transform: translateY(-16px) }
}

@keyframes slide-from-above {
  0% { transform: translateY(-32px) }
  100% { transform: translateY(0) }
}

@keyframes slide-from-below {
  0% { transform: translateY(0) }
  100% { transform: translateY(-32px) }
}