.v-popper--secoli-bui {
  .v-popper {
    &__inner {
      background: #AF1D1D;
      padding: 8px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
    
    &__arrow-outer {
      border-color: #AF1D1D;
    }
  }
}